<div class="container">
    <h3>Update Menu Registration</h3>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="menu_name">Menu Name</label>
          <input type="text" class="form-control" id="menu_name" aria-describedby="emailHelp" name="menu_name" formControlName="menu_name">
        </div>
        <div class="form-group">
            <label for="bm_id">Branch Manager ID</label>
            <input type="text" class="form-control" id="bm_id" aria-describedby="emailHelp" name="bm_id" formControlName="bm_id">
        </div>
        <button [disabled]="!updateForm?.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


