<div class="container">
    <h2 class="details-heading">Staff Details</h2>
    <div class="add-button-margin">
        <div><button class="btn btn-dark" type="button" (click)="addstaff()">Add Staff</button>
        <span style="float: right;"><button class="btn btn-dark" type="button" (click)="back()">Back</button></span></div>
    </div>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Staff ID</th>
            <th scope="col">Staff Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit Staff</th>
            <!-- <th scope="col">Delete Staff</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of result">
            <td>{{r.staff_id}}</td>
            <td>{{r.staff_name}}</td>
            <td>{{r.email}}</td>
            <td><button class="btn btn-primary" type="button" [routerLink]="['/edit-staff/',r.staff_id]">Update</button></td>
            <!-- <td><button class="btn btn-danger" type="button" (click)="deletestaff(r.staff_id)">Delete</button></td> -->
          </tr>
        </tbody>
      </table>
</div>

