<div class="container" id="addfooditem-div">
    <h3 class="details-heading">New FoodItem Registration</h3>
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="food_name">Food Name</label>
          <input type="text" class="form-control" id="food_name" aria-describedby="emailHelp" name="food_name" formControlName="food_name">
          <span *ngIf="food_name?.invalid && food_name?.touched" style="color: red;">Please provide food name</span>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" aria-describedby="emailHelp" name="price" formControlName="price">
            <span *ngIf="price?.invalid && price?.touched" style="color: red;">Please provide price</span>
        </div>
        <div class="form-group">
            <label for="image_name">Image Name</label>
            <input type="text" class="form-control" id="image_name" aria-describedby="emailHelp" name="image_name" formControlName="image_name">
            <span *ngIf="image_name?.invalid && image_name?.touched" style="color: red;">Please provide image name</span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" aria-describedby="emailHelp" name="description" formControlName="description">
            <span *ngIf="description?.invalid && description?.touched" style="color: red;">Please provide description</span>
        </div>
        <div class="form-group">
            <label for="food_type">Food type</label>
            <input type="text" class="form-control" id="food_type" aria-describedby="emailHelp" name="food_type" formControlName="food_type">
            <span *ngIf="food_type?.invalid && food_type?.touched" style="color: red;">Please provide food type</span>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp" name="quantity" formControlName="quantity">
            <span *ngIf="quantity?.invalid && quantity?.touched" style="color: red;">Please provide quantity</span>
        </div>
        <div class="form-group">
            <label for="menu_id">Menu ID</label>
            <input type="text" class="form-control" id="menu_id" aria-describedby="emailHelp" name="menu_id" formControlName="menu_id">
            <span *ngIf="menu_id?.invalid && menu_id?.touched" style="color: red;">Please provide menu id</span>
        </div>
        <button [disabled]="!regForm?.valid" type="submit" class="btn btn-dark">Submit</button>
      </form>
</div>


